table {
  margin: auto;
  overflow-x: auto;
  display: block;
  background-color: #d7d9f2;
}

.time {
  font-size: 0.8rem;
  font-weight: 400;
}

.table td.is-booked {
  background-color: #23d160;
}

.table td.is-blocked {
  background-color: #363636;
}