{% extends "layout.html" %}

{% block content %}
    <section class="section is-centered">
        <div class="container is-fluid">
            <h1 class="title">
                FAQ
            </h1>
            <br>
            <p class="subtitle">What does this website do?</p>
            <p>This PTM (parent-teacher meetings) booking system is a prototype
            that Dunman High School could adopt to supplement the PTM booking
            function on <a href="https://dhis.dhs.sg">DHIS (Dunman High
            Information System)</a>.</p>
            <br>
            <p class="subtitle">How do I login?</p>
            <p>Ensure that you are signing in with your child's school email
            account as only email addresses ending with "dhs.sg" are
            allowed.</p>
            <br>
            <p class="subtitle">How do I book slots?</p>
            <p>
            Teachers you can book slots with are automatically shown
            depending on your child's subject combination. Blocked slots are
            coloured black while free slots are coloured white.<br>
            Select your desired free slots and they will turn dark green/teal.
            When done, click "Update Booking" at the bottom. If successful,
            these selected slots will turn light green.<br>
            If you decide to cancel them, select them again and they will turn
            red. Click "Update Booking to finalise your cancellation.
            </p>
        </div>
    </section>
{% endblock %}
